{
        return (<div className="frame-3" > <div className="rectangle-2-.-2" /> <div className="mask-group" > <div className="rectangle-2-.-1" /> <div className="image-1-8" /> </div> <p className="text-1" >$49, 329.77</p> <p className="text-2" >Your balance is equivalent</p> <div className="group" > <div className="rectangle-3" /> <p className="text-3" >Deposit</p> </div> <div className="group-2" > <div className="rectangle-3-.-1" /> <p className="text-4" >Withdraw</p> </div> <div className="bit--coin--line" > <img src="" /> </div> </div>)
    }

    .frame-3
    {
        height: 176px;
        width: 311px;
    }

    .rectangle-2-.-2
    {
        opacity: 0.20000000298023224;
        border-radius: 17px;
        height: 140px;
        width: 247px;
        background-color: ;
    }

    .mask-group
    {
        height: 176px;
        width: 311px;
    }

    .rectangle-2-.-1
    {
        border-radius: 16px;
        height: 176px;
        width: 311px;
        background-color: ;
    }

    .image-1-8
    {
        transform: rotate(-91deg);
        border-radius: 12px;
        height: 321px;
        width: 176px;
        background-color: ;
    }

    .text-1
    {
        text-align: left;
        vertical-align: top;
        font-size: 26px;
        font-family: Saira;
        letter-spacing: 0.4099999964237213px;
        line-height: auto;
        color: #ffffff;
    }

    .text-2
    {
        text-align: left;
        vertical-align: top;
        font-size: 14px;
        font-family: Saira;
        letter-spacing: 0.4099999964237213px;
        line-height: auto;
        color: rgba(255, 255, 255, 0.699999988079071);
    }

    .group
    {
        height: 24px;
        width: 59px;
    }

    .rectangle-3
    {
        border-radius: 8px;
        height: 24px;
        width: 59px;
        background-color: rgba(255, 255, 255, 0.10000000149011612);
    }

    .text-3
    {
        text-align: left;
        vertical-align: top;
        font-size: 12px;
        font-family: Saira;
        line-height: auto;
        color: #ffffff;
    }

    .group-2
    {
        height: 24px;
        width: 69px;
    }

    .rectangle-3-.-1
    {
        border-radius: 8px;
        height: 24px;
        width: 69px;
        background-color: rgba(255, 255, 255, 0.10000000149011612);
    }

    .text-4
    {
        text-align: left;
        vertical-align: top;
        font-size: 12px;
        font-family: Saira;
        line-height: auto;
        color: #ffffff;
    }

    .bit--coin--line
    {
        height: 30px;
        width: 30px;
        background-color: #ffffff;
    }

    .img-5
    {
        height: 30px;
        width: 30px;
    }